<header class="row">
    <div class="d-flex  flex-row justify-content-around pt-5 pb-5 col-12 proj">
        <div class=""><i class="fa fa-bars"></i></div>
        <div>Course Tracker</div>
        <div><i class="fa fa-search"></i></div>
    </div>
</header>
<div class="days d-flex bg-light col-12 py-5 mb-5">
    <div class="welcome">Welcome to the the course tracker</div>
</div>
<% if logged_in? %>
    <h5><%= current_user.username %></h5>
    <ul>
        <li><%= link_to 'projects', projects_path%>
    </ul>
    <p>Projects</p>
    
<footer class="d-flex align-items-center justify-content-center">
    <span class="border border-white span-footer">
        <%= link_to 'Log out', logout_path%>
    </span>

<% else%>
   <footer class="d-flex align-items-center justify-content-center">
        <span class="border border-white span-footer">
            <%= link_to 'login', login_path%>
        </span>
        <span class="border border-white span-footer">
            <%= link_to 'Sign Up', new_user_path%>
        </span>
    </footer>

<%end%>
