<!DOCTYPE html>
<html>
  <head>
    <title>Transactions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <%# <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-light lead" href="#">Transactions</a>
    </nav> %>
    <%= yield %>
  </body>
</html>
